* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.tab {
    text-indent: 30px;
}

/*header CSS*/
header {
    display: inline-flex;
    border-bottom: 3px solid black;
    justify-content: space-around;
    width: 90%;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    height: 50px;
    left: 0;
    top: 0;
}

a{
    font-size: 14px;
    color: blue;
    text-decoration: underline;
}

/*main body css*/
main {
    text-align: center;
}

/*start page CSS*/
h1 {
    margin: 60px 10px 10px;
    padding: 10px;
}

.intro {
    margin: 20px;
    padding: 15px;
}

.startImage {
    height: 150px;
    width: 150px;
}

.buttons {
    margin: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startButton {
    width: 50%;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

/*portfolio CSS*/
.heading {
    font-size: 20px;
    margin: 10px;
}

.techList {
    margin: 5px auto;
    border: 1px solid black;
    width: 75%;
}

.portfolioSS {
    border: 1px solid black;
    margin: 5px 15px 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
}

.pImage {
    width: 90%;
    padding: 60px 100px;
    background: gray;
    margin: 5px auto 15px;
    border: 2px solid black;
}

.portfolioDescription {
    font-size: 14px;
    margin: 10px auto;
    border: 1px dotted gray;
    padding: 5px;
    text-align: left;
}

.linkButtons {
    margin: 30px;
}

.navigateButtons {
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.nButton {
    height: 50px;
    width: 30%;
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    border-radius: 10px;
}

.pageNo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
}

.pageNo span {
    margin: 5px;
}

/*about me page */
.aboutMe {
    margin: 25px 15px 0;
    padding: 10px;
}

.bio{
    border: 2px solid black;
    padding: 10px;
    font-size: 14px;
}

.contact {
    margin: 30px 15px 0;
}

.socialMediaLinks {
    margin: 30px auto 20px;
    border: 1px solid black;
    width: 60%;
}

.email {
    color: blue;
    text-decoration: underline;
}

/*footer CSS*/
footer{
    text-align: center;
    font-size: 10px;
    margin: 10px;
}

footer a{
    color: blue;
    text-decoration: underline;
}

.footerlink {
    font-size: 10px;
}

/*Tablet Breakpoint*/
@media only screen and (min-width: 480px) {
    /*start screen*/
    .intro {
        margin: 80px;
    }

    .buttons {
        margin: 50px;
    }

    /*portfolio*/
    .techList {
        width: 50%;
    }

    .heading{
        font-size: 30px;
    }

    .portfolioDescription {
        font-size: 16px;
    }

    .pImage {
        height: 250px;
    }

    /*about me*/
    .bio {
        margin: 50px 20px 35px;
        border: none;
   }

   .contact {
       border: 1px solid black;
       width: 60%;
       margin: 10px auto;
   }

   .socialMediaLinks {
        border: none;
    }
}

/*Laptop Breakpoint*/
@media only screen and (min-width: 768px) { 
    /*start Screen*/
    h1 {
        text-align: center;
        margin: 75px 10px;
    }

    .buttons {
        margin: 75px 5px;
        padding: 25px;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    header{
        font-size: 20px;
        border: none;
        margin: 30px 50px 50px;
    }

    .intro {
        margin: 75px;
        padding: 15px;
        font-size: 18px;
    }

    .startimage {
        height: 200px;
        width: 200px;
        padding: 50px;
    }
 
    .startButton {
        margin: 15px auto;
        width: 30%;
        height: 75px;
    }
 
    /*header*/
    header{
        background: lightgray;
        width: 100%;
        position: fixed;
        border-bottom: none;
        margin: 0;
        justify-content: flex-end;
    }

    .navImage {
        position: absolute; 
        left: 10px;
        top: 15px;
    }

    header a {
        padding: 10px;
    }

    /*portfolio*/
    .portfolioSS {
        margin: 70px 125px 20px;
    }

    .portfolioDescription {
        font-size: 15px;
        margin: 20px 10px;
    }

    .navigateButtons {
        display: none;
    }

    a {
        font-size: 16px;
    }

    .pImage {
        height: 350px;
        margin: 15px auto;
    }

    /*about me*/
    .contact {
        width: 50%;
    }

    /*extra entries*/
    .portfolio2 {
        display: block;
    }

    .portfolioSSE {
        margin: 40px 125px 20px;
        border: 1px solid black;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: space-evenly;
    }
}